<nav class="top-nav d-flex justify-content-between align-items-center px-4 py-2 ">

    <!-- Logo -->
    <span class="fs-4 fw-bold text-white">
        <i class="fa-solid fa-leaf text-success me-2"></i>ePBR System
    </span>

    <!-- Dropdown -->
    <div class="dropdown">
        <a href="#" 
           class="text-white fs-4 dropdown-toggle" 
           id="userDropdown" 
           role="button" 
           data-bs-toggle="dropdown" 
           aria-expanded="false">
            <i class="fa-solid fa-circle-user"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="userDropdown">
            <li><button class="dropdown-item" type="button">Profile</button></li>
            <li><button class="dropdown-item" type="button">Reset Password</button></li>
            <li><hr class="dropdown-divider"></li>
            <li><button class="dropdown-item text-danger" type="button">Logout</button></li>
        </ul>
    </div>

</nav>